$activitybarWidth: 52px;

.activitybar {
  width: $activitybarWidth;
  height: 100%;
  background-color: #eee;
}

.item {
  width: $activitybarWidth;
  height: $activitybarWidth;
  cursor: pointer;
}

.item-icon {
  width: 100%;
  height: 100%;
  @include center-icon(24px);

  &:hover {
    opacity: 1;
  }
}
